# Git
.git
.gitignore

# Docker
Dockerfile
.dockerignore
docker-compose.yml

# Documentation
README.md
LICENSE

# IDE
*.swp
*.swo
*~

# Binaries
main

# Test files
*_test.go
testdata

# Temporary files
*.tmp
*.log

# Build Files
justfile
.air.toml
