{{define "footer"}}
<footer class="mt-auto border-t border-gray-100 py-8 text-center">
    <div class="flex justify-center flex-wrap gap-6 mb-2">
        <a href="https://github.com/harrydayexe" target="_blank" rel="noopener noreferrer" class="text-gray-400 hover:underline font-medium text-sm">Github</a>
        <a href="https://linkedin.com/in/harrydayexe" target="_blank" rel="noopener noreferrer" class="text-gray-400 hover:underline font-medium text-sm">LinkedIn</a>
        <a href="https://twitter.com/harrydayexe" target="_blank" rel="noopener noreferrer" class="text-gray-400 hover:underline font-medium text-sm">Twitter</a>
        <a href="mailto:contact@harryday.xyz" class="text-gray-400 hover:underline font-medium text-sm">Contact</a>
    </div>
    <div class="flex justify-center flex-wrap gap-6 mb-4">
        <a href="/" class="text-gray-400 hover:underline font-medium text-sm">harryday.xyz</a>
        <a href="{{.BlogRoot}}" class="text-gray-400 hover:underline font-medium text-sm">Blog</a>
    </div>
    <p class="text-gray-400 text-sm">Copyright &copy; {{.Year}} Harry Day. All rights reserved.</p>
</footer>
{{end}}
