<!DOCTYPE html>
<html lang="en" dir="ltr" class="h-full">
{{template "head" .}}
<body class="min-h-full flex flex-col bg-white text-gray-900 font-sans">
    {{template "header" .}}
    <main class="flex-1 max-w-[900px] w-full mx-auto px-5 py-10">
        {{template "content" .}}
    </main>
    {{template "footer" .}}
</body>
</html>
